<div class="bank-details-container">
  <h2>Cash Withdraw Account</h2>
  <div class="row">
    <div class="col-4">
      <div class="card-body-balance p-20">
        <div><span class="header-text">Type of Account</span></div>
        <span>Savings Account</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card-body-balance p-20">
        <div><span class="header-text">Withdraw Amount</span></div>
        <span><input
          class="form-control"
          id="description"
          required
          [(ngModel)]="account.wamount"
          name="description"
        /></span>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px"><button (click)="withdraw()" class="btn btn-primary">Submit</button></div>
</div>
