.bank-details-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.bank-details-container>div {
  text-align: center;
  padding: 20px 0;
  margin: 5px;
}

.bank-details-container>.left {
  background-color: #D30058;
}

.bank-details-container>.center {
  background-color: #36ABE1;
}

.bank-details-container>.right {
  background-color: #23B776;
}

@media(min-width:576px) {
  .card-container {
    flex-flow: row wrap;
  }
}

.card-body-balance {
  border: 2px solid rgba(0, 0, 0, .125);
  background: #fff;
  border-color: #dee2e6 #dee2e6 #dee2e6;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: .9rem;
}

.card-body {
  border: 2px solid rgba(0, 0, 0, .125);
  background: #fff;
  border-color: #dee2e6 #dee2e6 #dee2e6;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: .6rem;
}

button {
  padding: 0 13px !important;
  border: none;
}

button:focus, button:active, button:focus:active {
  outline: none !important;
  box-shadow: none !important;
}
